.jumbotron {
    background-color: rgba(239, 242, 63, 1);
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 10px;
    color: #000000;
    
    
}

.row {
    padding-top: 10px;
    margin-bottom: 0px;
    
}


i {
    margin-right: 60px;
}

#logo {
   border-radius: 100px;
   padding-bottom: 20px;
   width: 180px;

}


.btn-warning, .btn-warning:hover, .btn-warning:active, .btn-warning:visited {
    background-color: rgba(165, 168, 20, 1) !important;
    margin-bottom: 20px;
    width: 90px;
    margin-top: 0px;
}

/*main*/

main {
    margin-top: 350px;
    background-color: white !important;
}


/*footer*/



.container-fluid {
  background-color: rgba(239, 242, 63, 1);
  height: 120px;

}

#card {
    height: 120px;
}

